@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image:url('/imgs/bg-1.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

/* background: linear-gradient(to top right, black, gray);
height: 100vh;
margin: 0; */